server:
  port: 8080

app:
  api-prefix: /gema/api/v1

spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth_service
              uri: http://localhost:8081
              predicates:
                - Path=${app.api-prefix}/auth/**
              filters:
                - StripPrefix=3
