version: "3.9"

services:
  postgres:
    image: postgres:18.1-alpine3.21
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: gema
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data