spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/gema
    driverClassName: org.postgresql.Driver
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

grpc:
  server:
    port: 8081