spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/gema
    driverClassName: org.postgresql.Driver
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      host: localhost
      port: 6379

grpc:
  server:
    port: 8081


jwt:
  secretKey: 1e3267dcb544e3daf9b48ff7ade909e1863f41d0c44e41f98e6bf1da91cb8006
  accessExpiryMinutes: 300
  refreshExpiryMinutes: 600